<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianwoda.test.bassy.db.dao.AutoTestStatisticsMapper">
  <resultMap id="BaseResultMap" type="com.dianwoda.test.bassy.db.entity.AutoTestStatistics">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="execution_times" jdbcType="VARCHAR" property="executionTimes" />
    <result column="case_num" jdbcType="VARCHAR" property="caseNum" />
    <result column="passing_rate" jdbcType="VARCHAR" property="passingRate" />
    <result column="reason_sort" jdbcType="VARCHAR" property="reasonSort" />
    <result column="method_sort" jdbcType="VARCHAR" property="methodSort" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, `date`, execution_times, case_num, passing_rate, reason_sort, method_sort
  </sql>
  <select id="selectByExample" parameterType="com.dianwoda.test.bassy.db.entity.AutoTestStatisticsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from auto_test_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from auto_test_statistics
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from auto_test_statistics
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dianwoda.test.bassy.db.entity.AutoTestStatisticsExample">
    delete from auto_test_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dianwoda.test.bassy.db.entity.AutoTestStatistics">
    insert into auto_test_statistics (id, `date`, execution_times, 
      case_num, passing_rate, reason_sort, 
      method_sort)
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=DATE}, #{executionTimes,jdbcType=VARCHAR}, 
      #{caseNum,jdbcType=VARCHAR}, #{passingRate,jdbcType=VARCHAR}, #{reasonSort,jdbcType=VARCHAR}, 
      #{methodSort,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dianwoda.test.bassy.db.entity.AutoTestStatistics">
    insert into auto_test_statistics
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="executionTimes != null">
        execution_times,
      </if>
      <if test="caseNum != null">
        case_num,
      </if>
      <if test="passingRate != null">
        passing_rate,
      </if>
      <if test="reasonSort != null">
        reason_sort,
      </if>
      <if test="methodSort != null">
        method_sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="executionTimes != null">
        #{executionTimes,jdbcType=VARCHAR},
      </if>
      <if test="caseNum != null">
        #{caseNum,jdbcType=VARCHAR},
      </if>
      <if test="passingRate != null">
        #{passingRate,jdbcType=VARCHAR},
      </if>
      <if test="reasonSort != null">
        #{reasonSort,jdbcType=VARCHAR},
      </if>
      <if test="methodSort != null">
        #{methodSort,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dianwoda.test.bassy.db.entity.AutoTestStatisticsExample" resultType="java.lang.Long">
    select count(*) from auto_test_statistics
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update auto_test_statistics
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.date != null">
        `date` = #{record.date,jdbcType=DATE},
      </if>
      <if test="record.executionTimes != null">
        execution_times = #{record.executionTimes,jdbcType=VARCHAR},
      </if>
      <if test="record.caseNum != null">
        case_num = #{record.caseNum,jdbcType=VARCHAR},
      </if>
      <if test="record.passingRate != null">
        passing_rate = #{record.passingRate,jdbcType=VARCHAR},
      </if>
      <if test="record.reasonSort != null">
        reason_sort = #{record.reasonSort,jdbcType=VARCHAR},
      </if>
      <if test="record.methodSort != null">
        method_sort = #{record.methodSort,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update auto_test_statistics
    set id = #{record.id,jdbcType=INTEGER},
      `date` = #{record.date,jdbcType=DATE},
      execution_times = #{record.executionTimes,jdbcType=VARCHAR},
      case_num = #{record.caseNum,jdbcType=VARCHAR},
      passing_rate = #{record.passingRate,jdbcType=VARCHAR},
      reason_sort = #{record.reasonSort,jdbcType=VARCHAR},
      method_sort = #{record.methodSort,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dianwoda.test.bassy.db.entity.AutoTestStatistics">
    update auto_test_statistics
    <set>
      <if test="date != null">
        `date` = #{date,jdbcType=DATE},
      </if>
      <if test="executionTimes != null">
        execution_times = #{executionTimes,jdbcType=VARCHAR},
      </if>
      <if test="caseNum != null">
        case_num = #{caseNum,jdbcType=VARCHAR},
      </if>
      <if test="passingRate != null">
        passing_rate = #{passingRate,jdbcType=VARCHAR},
      </if>
      <if test="reasonSort != null">
        reason_sort = #{reasonSort,jdbcType=VARCHAR},
      </if>
      <if test="methodSort != null">
        method_sort = #{methodSort,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dianwoda.test.bassy.db.entity.AutoTestStatistics">
    update auto_test_statistics
    set `date` = #{date,jdbcType=DATE},
      execution_times = #{executionTimes,jdbcType=VARCHAR},
      case_num = #{caseNum,jdbcType=VARCHAR},
      passing_rate = #{passingRate,jdbcType=VARCHAR},
      reason_sort = #{reasonSort,jdbcType=VARCHAR},
      method_sort = #{methodSort,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>